{# 百度自动推送脚本 #}
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.bdstatic.com/linksubmit/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

{# Google Search Console 验证 (可选，如果你有的话) #}
{# <meta name="google-site-verification" content="你的验证码" /> #}
